
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>User Profile</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
		<h3>Welcome <%= user.email %></h3>
		<h4>Please complete your profile to continue:</h4>
	
		<h1>THIS IS THE PROFILE ID: <%= user.id %></h1>

		<div class="row">
  			<div class="col-xs-12 col-sm-6 col-md-8">
  				<form method="POST" action="/profile?_method=PUT">
  					<input type="text" name="first_name" placeholder="First Name" value="<%=user.first_name %>" required>
  					<input type="text" name="last_name" placeholder="Last Name" value="<%=user.last_name %>" required>
  					<input type="text" name="address_1" placeholder="Address" value="<%=user.address_1 %>" required>
  					<input type="text" name="address_2" placeholder="Address Line 2" value="<%=user.address_2 %>">	
  					<input type="text" name="city" placeholder="City" value="<%=user.city %>" required>
  					<input type="text" name="state" placeholder="State" value="<%=user.state %>" required>
  					<input type="text" name="zip" placeholder="Zip Code" value="<%=user.zip %>" required>
  					<input type="text" name="phone" placeholder="Phone Number" value="<%=user.phone %>" required>
  					<input type="text" name="age" placeholder="Age" value="<%=user.age %>" required>
  					<input type="text" name="occupation" placeholder="Occupation" value="<%=user.occupation %>" required>
  					<input type="text" name="height" placeholder="Height" value="<%=user.height %>" required>
  					<input type="text" name="weight" placeholder="Weight" value="<%=user.weight %>" required>
  					<button>Submit</button>
  				</form>
  			</div>
		</div>
		
		<div class="row">
  			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
  			<!-- Optional: clear the XS cols if their content doesn't match in height -->
  			<div class="clearfix visible-xs-block"></div>
  			<div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
		</div>

		
	</div>


	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<form method="POST" action="/logout?_method=DELETE">
					<button>Logout</button>
				</form>	
			</div>
		</div>
	</div>


</body>
</html>